body, html, main {
    /* important */
    height: 100%;
/*    margin: 0;*/
    color: #212121;
}

div {
    min-height: 100%;
    padding: 10px;
}

div#title {
    width: 100%;
    position: absolute; 
    top: 40%;
    color: #FFEB3B;
}

h1, h4 {
    text-align: center;
}

h1 {
    font-size: 6vw;
}

h4 {
    font-size: 1.5vw;
}

p {
    margin: 0 auto;
    width: 60%;
    text-align: center;
    color: #757575;
}

img#profile {
    display: block;
/*    margin: auto;*/
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
/*    height: 100%;*/
}

@media only screen and (max-width: 768px) { 
    img#profile {
/*        height: 180px;*/
    }
    div#title {
        width: 100%;
        color: #FFEB3B;
    }
    
    h1 {
    font-size: 10vw;
    }
    
    h4 {
        font-size: 2.5vw;
    }
}

.cd-fixed-bg {
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.cd-fixed-bg.cd-bg-1 {
    /*    background-image: url("../images/bg.jpeg");*/
    background-color: #455A64;
}
.cd-fixed-bg.cd-bg-2 {
    /*    background-image: url("../images/bg2.jpg");*/
    background-color: #607D8B;
    color: white;
}
.cd-fixed-bg.cd-bg-3 {
    /*    background-image: url("../images/bg.jpeg");*/
}
.cd-fixed-bg.cd-bg-4 {
    background-image: url("../images/bg.jpeg");
}

.cd-scrolling-bg {
    /*    min-height: 100%;*/
}

.cd-color-1 {
    background-color: #FFFFFF;
}

.cd-color-2 {
    background-color: #CFD8DC;
}
