body, html, main {
    /* important */
/*    min-height: 100%;*/
    height: 100%;
    margin: 0;
    color: #212121;
}

div {
    min-height: 100%;
    padding: 10px;
}

div#title {
    /* text-align: center; */
    /* padding: -10px; */
     position: absolute; 
    top: 40%;
/*    left: 50%;*/
    width: 100%;
    color: #FFEB3B;
}

h1, h3 {
    text-align: center;
}

p {
    margin: 0 auto;
    width: 60%;
    text-align: center;
    color: #757575;
}

img#profile {
    display: block;
    margin: auto;
}

@media only screen and (min-width: 992px) { 
    h1 {
        font-size: 80px
    }
}

@media only screen and (max-width: 500px) { 
    img#profile {
        height: 180px;
    }
}

.cd-fixed-bg {
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.cd-fixed-bg.cd-bg-1 {
/*    background-image: url("../images/bg.jpeg");*/
    background-color: #455A64;
}
.cd-fixed-bg.cd-bg-2 {
/*    background-image: url("../images/bg2.jpg");*/
    background-color: #607D8B;
    color: white;
}
.cd-fixed-bg.cd-bg-3 {
/*    background-image: url("../images/bg.jpeg");*/
}
.cd-fixed-bg.cd-bg-4 {
    background-image: url("../images/bg.jpeg");
}

.cd-scrolling-bg {
/*    min-height: 100%;*/
}

.cd-color-1 {
    background-color: #FFFFFF;
}

.cd-color-2 {
    background-color: #CFD8DC;
}
