body, html, main {
    /* important */
    height: 100%;
    color: #212121;
}

div {
    /*    min-height: 100%;*/
    padding-top: 10px;
    padding-bottom: 10px;
}

#first  {
    min-height: 100%;
}

#second {
    min-height: 80%;
}

#third {
    min-height: 60%;
}
#fourth {
    min-height: 30%;
    margin-bottom: -32px;
}

div#title {
    width: 100%;
    position: absolute; 
    top: 40%;
    color: #FFEB3B;
    text-align: center;
}

h1 {
    text-align: center;
}

#title h1 {
    font-size: 70px;
}

p {
    margin: 0 auto;
    width: 60%;
    text-align: center;
    color: #757575;
}

img#profile {
    display: block;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    /*    height: 100%;*/
}

@media only screen and (max-width: 768px) { 
    img#profile {
        /*        height: 180px;*/
    }
    div#title {
        width: 100%;
        color: #FFEB3B;
    }

    h1 {
        font-size: 10vw;
    }

    h4 {
        font-size: 5vw;
    }
}

.cd-fixed-bg {
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.cd-fixed-bg.cd-bg-1 {
    background-color: #455A64;
}
.cd-fixed-bg.cd-bg-2 {
    background-color: #607D8B;
    color: white;
}
.cd-fixed-bg.cd-bg-3 {
    /*    background-image: url("../images/bg.jpeg");*/
}
.cd-fixed-bg.cd-bg-4 {
    background-image: url("../images/bg.jpeg");
}

.cd-scrolling-bg {
}

.cd-color-1 {
    background-color: #FFFFFF;
}

.cd-color-2 {
    background-color: #CFD8DC;
}

img[alt="Henry's pic"] {
    -webkit-filter: grayscale(60%);
    -moz-filter: grayscale(60%);
    filter: grayscale(60%);
    transition: all 0.5s ease;
}

img[alt="Henry's pic"]:hover {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: grayscale(0%);
}

table {
    width: 50%;
    margin-left:auto; 
    margin-right:auto;
    border: none;
    border-collapse: collapse;
}

table td {
    width 30%;
    text-align: center;
}

#contact a {
    font-size: 40px;
    color: #757575;
}

#contact a:hover {
    text-decoration: none;
    color: #FFF;
}

#contact div {
    text-align: center;
}

footer {
    position: relative;
    text-align: center;
    height: 32px;
}
