$default-black: #3D3B30;
$default-blue: #23a8fc;
$default-white: #FFF;
$default-orange: #FC7723;

$primary: $default-blue;
$secondary: $default-orange;

$padding-sm: 1em;
$padding-md: 1.5em;
$padding-lg: 2em;