@import url(bootstrap.css);

.background::after {
    content: "";
    background: url('../../images/bg.jpg');
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -2;   
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}
    .navbar a {
        color: black;
    }

    .nav > li > a:hover{
        background-color:#FCC;
        color: black;
    } 

    .nav > li > a:focus {
        background-color:#FFF;
        color: #FCC;
    }

    img {
        max-height: 200px;
        display: block;
        margin: 0 auto;
        max-width: 200px;
    }
    
    .description {
        padding: 20px 20px 20px 20px;
        background-color: white;
        margin-top: 20px;
    }

    .navbar {
        -webkit-border-radius: 0 !important;
           -moz-border-radius: 0 !important;
                border-radius: 0 !important;
      }

}